{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}


// import 'nameFile' from 'name'
// instead of 
// import 'nameFile' from '../../../../../name'