.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out 0s;
    font-weight: 700;
    font-size: 1.8rem;
    height: 48px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    .active-icon {
        display: none;
    }

    &.active {
        color: var(--primary-color);

        .icon {
            display: none;
        }

        .active-icon {
            display: block;
        }
    }
}

.title {
    margin-left: 8px;
}
